<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="Daniel Kinyua - Cybersecurity Analyst & Offensive Security Engineer with a passion for network defense and vulnerability assessments.">
    <meta property="og:title" content="Daniel Kinyua | Cybersecurity Analyst">
    <meta property="og:description" content="A dedicated Cybersecurity Analyst specializing in offensive security engineering and network defense strategies.">
    <meta property="og:image" content="https://www.mooc.org/hubfs/cybersecurity-computer-science.jpg">
    <meta property="og:url" content="https://cyber.kesug.com">

    {% csrf_token %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/port.css'%}">
    <link rel="stylesheet" href="{% static 'css/modal.css'%}">

    <script src="{% static 'js/port.js' %}" defer></script>
    <title>Daniel Kinyua | Cybersecurity Analyst</title>

</head>
<body style="background-image: url('{% static 'images/cybersecurity.webp' %}');">

    <header class="header">
        <div class="container">
            <h1 class="logo">
                   <a href="https://i.ibb.co/HnNg0KM/logo.png">
                         <img src="https://i.ibb.co/HnNg0KM/logo.png" alt="Logo" style="width: 60px; height: 60px; border-radius: 100%;">
                   </a>
                    Daniel Kinyua.
                <a style="color: blue;" href="https://github.com/TheAnonymous15/">Visit my GitHub</a></h1>
                <br>
                <nav>

            </nav>
        </div>
    </header>

    <div class="main-content">
             <section id="about" class="container">
            <div class="about-content"><br>
                <h2>Cybersecurity Specialist & Offensive Security Engineer</h2>
                <p>Hello! I'm Daniel Kinyua, a dedicated Cybersecurity Analyst with a passion for offensive security engineering. With a strong background in developing and testing security frameworks for cloud-based software and robust network defense strategies, I strive to align security architecture plans with business goals.</p>
                <p>My journey involves staying ahead in the ever-evolving field of cybersecurity. I'm constantly learning and adapting to new trends and technologies in malware threats and defenses, ensuring systems are fortified against emerging cyber threats.</p>
            </div>
        </section>

        <section id="experience" class="container">
            <h2>Experience</h2>
            <div class="about-content">
                <h3>Cybersecurity Analyst</h3>
                <p><em>E&M Technologies</em> | <span>Tatu, 01/2024 – 05/2024</span></p>
                <ul>
                    <li>Enhanced network security by implementing advanced threat detection and prevention systems.</li>
                    <li>Maintained an up-to-date understanding of current threat landscape, tailoring defensive strategies accordingly.</li>
                    <li>Served as a subject matter expert in cyber-security during audits of various projects developed by peers.</li>
                    <li>Contributed to company-wide cybersecurity awareness campaigns, fostering a culture of vigilance among employees.</li>
                    <li>Developed endpoint penetration and network analysis tool in Python for robust threat and vulnerability analysis.</li>
                    <li>Reduced risk of cyber-attacks by conducting regular vulnerability assessments and penetration testing.</li>
                    <li>Performed risk analyses to identify appropriate security countermeasures.</li>
                </ul>
            </div>
            <div class="about-content">
                <h3>Operations Officer</h3>
                <p><em>Cash Services</em> | <span>Kikuyu, 09/2023 – 05/2024</span></p>
                <ul>
                    <li>Assisted new customers in opening accounts using digital platforms offered by the bank, facilitating smooth onboarding.</li>
                    <li>Supported branch management in achieving operational excellence through adherence to regulatory guidelines and internal procedures.</li>
                    <li>Streamlined teller operations by implementing time-management strategies.</li>
                    <li>Managed high-volume transactions during peak hours, ensuring seamless customer experience.</li>
                    <li>Increased efficiency within the teller line by sharing best practices among colleagues, leading to shorter wait times for customers.</li>
                    <li>Provided exceptional customer service, resulting in increased client retention and loyalty.</li>
                </ul>
            </div>
        </section>

        <section id="education" class="container">
            <h2>Education</h2>
            <div class="about-content">
                <p><strong>Kabarak University</strong> | <span>09/2017 – 12/2021</span></p>
                <p>Management Information Systems</p>
            </div>
        </section>

        <section id="skills" class="container">
            <h2>Skills</h2>
            <div class="about-content">
                <ul>
                    <li>Penetration Testing: ★★☆☆☆</li>
                    <li>Communication Skills: ★★★★★</li>
                    <li>Vulnerability and Threat Assessment: ★★★☆☆</li>
                    <li>Wapiti Framework: ★★★★☆</li>
                    <li>Nmap: ★★★☆☆</li>
                    <li>Python3 scripting for Cyber Security: ★★★★★</li>
                    <li>Wireshark: ★★★☆☆</li>
                </ul>
            </div>
        </section>

        <section id="languages" class="container">
            <h2>Languages</h2>
            <div class="about-content">
                <ul>
                    <li>Swahili: Native</li>
                    <li>English: Native</li>
                </ul>
            </div>
        </section>

        <section id="passion" class="container">
            <h2>Passion</h2>
            <div class="about-content">
                <p>I have a deep passion for aligning security architecture plans and processes with security standards and business goals, and I am always keen on staying updated with the current technology on malware threat and growth.</p>
            </div>
        </section>

        <section id="contact" class="container">
    <div class="about-content">
        <h2>Contact</h2>

        <p>You can reach me via email at <a href="mailto:daniel.kinyua@tutamail.com">daniel.kinyua@tutamail.com</a> visit my website <a href="https://cyber.kesug.com" target="_blank">cyber.kesug.com</a> or call me at <a href="tel:+254726781724">+254-726-781-724</a></p>


    </div>
</section>

    </div>
    </div>

    <footer>
        <div class="container">
            <p>&copy; 2024 Daniel Kinyua. All rights reserved.</p>
        </div>
    </footer>

    <div id="whatsapp-widget">
        <button id="whatsapp-btn">
            <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp">
        </button>
        <div class="whatsapp-panel" id="whatsapp-panel">
            <div class="whatsapp-header">
                <span>Chat with me</span>
                <button id="close-btn">&times;</button>
            </div>
            <div class="whatsapp-body">
                <textarea id="message-input" placeholder="Type your message here"></textarea>
                <button id="send-btn">Send</button>
            </div>
        </div>
    </div>

<script src="{% static 'js/modal.js' %}"></script>

</body>
</html>
